# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# SQLite databases (opcional, si no quieres subir la BD local)
*.db
*.db-shm
*.db-wal

# IDEs
.vscode/
.idea/
*.swp